.slider {
  padding: 40px 60px 50px 30px;
  margin: 20px 0;
}
.c-1-color { background: red; }
.c-2-color { background: yellow; }
.c-3-color { background: green; }
.c-4-color { background: blue; }
.c-5-color { background: purple; }
