.numbers-outer {
  text-align: center;
}
.numbers-inner {
  display: inline-block;
}
.dough-number {
  display: inline-block;
  width: 80px;
  padding: 0 10px;
}
.dough-number > button {
  margin: 2px 20px;
}
.dough-number > input {
  width: 60px;
  font-size: 24px;
  text-align: center;
}
.slider {
  padding: 40px 60px 20px 30px;
  margin: 20px 0;
}
.c-1-color { background: green; }
.c-2-color { background: yellow; }
.c-3-color { background: red; }
.c-4-color { background: blue; }
.c-5-color { background: purple; }

.batch {
  padding: 30px;
}
.batch > button.active {
  background: #989898;
}
#single {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  margin-right: -2px;
}
#double {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: -2px;
}
